
body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

.container {
    text-align: center;
    padding: 50px;
}

h1 {
    color: #333;
}

button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    font-size: 18px;
    border: none;
    cursor: pointer;
    margin: 20px;
}

button:hover {
    background-color: #45a049;
}

#resultados p {
    font-size: 20px;
    font-weight: bold;
    color: #333;
}
